* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #6D6F7F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  width: 350px;/*100%*/
  height: 400px;/*100%*/
  background: #E5E6F1;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.main ul {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: perspective(130px)  rotateY(0deg);
  position: relative;
  transition: 0.5s ease-out;
}
.main ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: absolute;
  height: 50px;
  transform: rotateY(calc(var(--i)*45deg)) translateZ(90px);
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.20);
  transition: height 0.5s;
}
.main ul li img {
  height: 100%;
  width: 50px;
  transition: width 0.5s, height 2s;
  border-radius: 1px;
}
.main .btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 30px;
}
.btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  border-radius: 0px;
  z-index: 10;
  background: #F4F4F4;
  border:  1px solid red;
  outline: none;
  border: none;
}
.btns button i {
  font-size: 30px;
  font-weight: 800;
}